body {
            background-image: url('mon.jpg');
            background-size: cover; 
            background-position: center; 
            background-repeat: no-repeat; 
        }
.parent {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
            

        }

        .child {
            width: 200px;
            height: 150px;
            background-color: transparent;
            margin: 5px;
            }

.button{
    width: 100%;
}